:global {
	html {
		font-size: 62.5%;
	}
	body {
		font-size: 1.5rem;
		background: #fafafa;
	}
	a {
		color: #444;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}