@import '../../../styles/variables';

.container {
	padding: 20px;
  margin: 5px 0;
  background: white;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 8px;
}

.avatar {
  border-radius: 50%;
}

.author {
  color: $secondColor;
}

.title {
	font-size: 2em;
	margin: 10px 0;
  a {
    color: $primaryColor;
  }
}

.excerpt {
  font-size: 1.2em;
  color: $textColor;
}

@media screen and (min-width: 768px) {
	.container:nth-child(3n+1) {
		clear: left;
	}
}
